<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <script src="https://kit.fontawesome.com/32423f570a.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <meta charset="utf-8" />
        <title>Critical Gaming - TestPhase</title>
      </head>

      <body id="gaming">
        <nav>
            <a class="nonactive" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="nonactive" href="gaming"><i class="fas fa-gamepad"></i> Gaming</a>
            <a class="nonactive" href="games"><i class="fa fa-fw fa-search"></i> Games</a>
            <a class="active" href="#"><i class="fas fa-terminal"></i> Dev </a>
            <a class="nonactive" href="publisher"><i class="far fa-address-card"></i> Publisher</a>
            <a class="nonactive" href="HallOfFame"><i class="fas fa-scroll"></i> Hall of Fame</a>
            <a class="nonactive" href="AboutUs"><i class="fas fa-user-secret"></i> About us</a>
            <a class="nonactive" href="login"><i class="fa fa-fw fa-user"></i> Login</a>
        </nav>
        <div class="parallax-developer">
        <h1>Developer</h1>
            <p style="text-align: center;">Autors: Romeo Bhuiyan and Balog Danijel</p>
      </div>
        <footer>
          <a href="changelog"> changelog</a>
        </footer>
      </body>
</html>
