<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <script src="https://kit.fontawesome.com/32423f570a.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <meta charset="utf-8" />
  <title>Critical Gaming - TestPhase</title>
</head>

<body id="games">
  <nav>
    <a class="nonactive" href="home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="nonactive" href="gaming"><i class="fas fa-gamepad"></i> Gaming</a>
    <a class="active" href="#"><i class="fa fa-fw fa-search"></i> Games</a>
    <a class="nonactive" href="dev"><i class="fas fa-terminal"></i> Dev</a>
    <a class="nonactive" href="publisher"><i class="far fa-address-card"></i> Publisher</a>
    <a class="nonactive" href="HallOfFame"><i class="fas fa-scroll"></i> Hall of Fame</a>
    <a class="nonactive" href="AboutUs"><i class="fas fa-user-secret"></i> About us</a>
    <a class="nonactive" href="login"><i class="fa fa-fw fa-user"></i> Login</a>
  </nav>

  <ul class="gallery">
    <li>
      <a target="_self" href="minecraft">
        <img src= "http://localhost:3000/static/minecraft/Minecraft.png" alt="Minecraft" />
      </a>
      <p class="desc">MINECRAFT</p>
    </li>
    <li>
      <a target="_self" href="csgo">
        <img src="http://localhost:3000/static/csgo/csgo.jpeg" alt="CS:GO" />
      </a>
      <p class="desc">CS:GO</p>
    </li>
    <li>
      <a target="_self" href="darksouls3">
        <img src="http://localhost:3000/static/darksouls3/darksouls3.jpg" alt="DARKSOULS" />
      </a>
      <p class="desc">DARKSOULS III</p>
    </li>
    <li>
      <a target="_self" href="fallenorder">
        <img src="http://localhost:3000/static/fallenorder/fallenorder.jpg" alt="STAR WARS: FALLEN ORDER" />
      </a>
      <p class="desc">JEDI FALLEN ORDER</p>
    </li>
    <li>
      <a target="_self" href="lol">
        <img src="http://localhost:3000/static/lol/lol.jpg" alt="LEAGUE OF LEGENDS" />
      </a>
      <p class="desc">LEAGUE OF LEGENDS</p>
    </li>
    <li>
      <a target="_self" href="nomansky">
        <img src="http://localhost:3000/static/nomansky/nomansky.jpg" alt="NO MANS SKY" />
      </a>
      <p class="desc">NO MANS SKY</p>
    </li>
    <li>
      <a target="_self" href="odyssey">
        <img src="http://localhost:3000/static/odyssey/odyssey.jpg" alt="ASSASINS CREED: ODYSSEY" />
      </a>
      <p class="desc">ASSASINS CREED: ODYSSEY</p>
    </li>
    <li>
      <a target="_self" href="rainbow_six">
        <img src="http://localhost:3000/static/rainbow_six/tom-clancys-rainbow-six-siege-cover.jpg" alt="RAINBOW SIX SIEGE" />
      </a>
      <p class="desc">RAINBOW SIX SIEGE</p>
    </li>
    <li>
      <a target="_self" href="witcher3">
        <img src= "http://localhost:3000/static/witcher3/witcher3.jpg" alt="THE WITCHER 3" />
      </a>
      <p class="desc">THE WITCHER 3</p>
    </li>
    <li>
      <a target="_self" href="escape_fro_tarkov_page">
        <img src="http://localhost:3000/static/escape_from_takrov/escpae_from_tarlov_cover.jpg" alt="ESCAPE FROM TARKOV" />
      </a>
      <p class="desc">ESCPAE FROM TARKOV</p>
    </li>
    <li>
      <a target="_self" href="fortnite_page">
        <img src="http://localhost:3000/static/fortnite/fortnite_cover.jpg" alt="FORTNITE" />
      </a>
      <p class="desc">FORTNITE</p>
    </li>
    <li>
      <a target="_self" href="cities_skylines_page">
        <img src="http://localhost:3000/static/cities_skylines/cities_skylines_cover.jpg" alt="cities_skylines" />
      </a>
      <p class="desc">CITIES SKYLINES</p>
    </li>
  </ul>
  <footer>
    <a href="changelog"> changelog</a>
  </footer>
</body>

</html>
